version: '3.8'
services:
  app:
    image: ghcr.io/maxineafable1/liftts:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: liftts-container
    ports:
      - 3001:3001
    env_file:
      - .env
    volumes:
      - ./data:/data
